<div id="feature5" class="feature2-section">
 <div class="container">

<div class="row title-row">
     <div class="col-sm-8 col-sm-offset-2">

       <h2 class="section-title" style="font-weight: solid;">OUR HAPPY CLIENTS</h2>

       <p class="text-lead" style="font-size: 20px;">What our clients & Partners Say About us.</p>
     </div>
   </div>

    <div class="service-row row">
     <div class="iconbox col-sm-6 col-md-4 wow fadeInUp" style="visibility: hidden; animation-name: none;">
       <div class="iconbox-media">
         <img class="img-circle iconbox-media-img img-circle" src="webtios/img/0.png" alt="">
       </div>
       <div class="iconbox-header">
         <h4 class="iconbox-header-title">Adam Johnson</h4>
   <h6 style="color:#ff9800;font-weight:100;">Camping world</h6>
       </div>
       <div class="iconbox-content">
         <p>We had a large project that needed to be completed in a short period of time. WEBtios delivered. We definitely received a good ROI (Return On Internet).</p>
       </div>
     </div> <!-- .iconbox -->

     <div class="iconbox col-sm-6 col-md-4 wow fadeInUp" data-wow-delay=".2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
       <div class="iconbox-media">
         <img class="iconbox-media-img img-circle" src="webtios/img/1.png" alt="">
       </div>
       <div class="iconbox-header">
         <h4 class="iconbox-header-title">Liza Heiligman</h4>
   <h6 style="color:#ff9800;font-weight:100;">Wheels for wishes</h6>
       </div>
       <div class="iconbox-content">
         <p>I love our new website. It converts visitors significantly better than the previous one. I worked with many other web design companies and WEBtios was most professional.</p>
       </div>
     </div> <!-- .iconbox -->

     <div class="iconbox col-sm-6 col-md-4 wow fadeInUp" data-wow-delay=".4s" style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">
       <div class="iconbox-media">
         <img class="iconbox-media-img img-circle" src="webtios/img/2.png" alt="">
       </div>
       <div class="iconbox-header">
         <h4 class="iconbox-header-title">Jason McManus</h4>
   <h6 style="color:#ff9800;font-weight:100;">Mbrico</h6>
       </div>
       <div class="iconbox-content">
         <p>WEBtios simplified a complex process and delivered a product worth the investment.</p>
       </div>
     </div> <!-- .iconbox -->
</div>
<div class="service-row row" style="margin-top:5%;">
     <div class="iconbox col-sm-6 col-md-4 wow fadeInUp" data-wow-delay=".6s" style="visibility: hidden; animation-delay: 0.6s; animation-name: none;">
       <div class="iconbox-media">
         <img class="iconbox-media-img img-circle" src="webtios/img/3.png" alt="">
       </div>
       <div class="iconbox-header">
         <h4 class="iconbox-header-title">Fran Caprai</h4>
   <h6 style="color:#ff9800;font-weight:100;">Amalgated Sugar</h6>
       </div>
       <div class="iconbox-content">
         <p>WEBtios was very good to work with. They met the deadlines they committed to unless we were in their way. The website turned out very nice.
</p>
       </div>
     </div> <!-- .iconbox -->

 <div class="iconbox col-sm-6 col-md-4 wow fadeInUp" data-wow-delay=".6s" style="visibility: hidden; animation-delay: 0.6s; animation-name: none;">
       <div class="iconbox-media">
         <img class="iconbox-media-img img-circle" src="webtios/img/4.png" alt="">
       </div>
       <div class="iconbox-header">
         <h4 class="iconbox-header-title">Sarah Tanner</h4>
   <h6 style="color:#ff9800;font-weight:100;">Concordia Plan Services</h6>
       </div>
       <div class="iconbox-content">
         <p>Have really appreciated working with WEBtios. They make gorgeous products, provide dependable service, and fast to answer questions
</p>
       </div>
     </div> <!-- .iconbox -->

      <div class="iconbox col-sm-6 col-md-4 wow fadeInUp" data-wow-delay=".6s" style="visibility: hidden; animation-delay: 0.6s; animation-name: none;">
       <div class="iconbox-media">
         <img class="iconbox-media-img img-circle" src="webtios/img/5.png" alt="">
       </div>
       <div class="iconbox-header">
         <h4 class="iconbox-header-title">Pankaj Kumar Sinha</h4>
   <h6 style="color:#ff9800;font-weight:100;">The Best Istitute(Online exam partner)</h6>
       </div>
       <div class="iconbox-content">
         <p>When online test preparation market is willing to sell
us anything for profit making, WEBtios stood ahead and
providing exactly what is required for the exams.</p>
       </div>
     </div> <!-- .iconbox -->
   </div>
 </div>
</div> <!-- #feature3 -->
