<div id="contact" class="contact-section">
  <div class="container">
    <div class="contact-title-row row">
      <div class="contact-title-col col-sm-8 col-sm-offset-2">
        <p class="text-lead" style="margin-bottom:px;"><b>/ On-boarding process - Building long-term partnerships /</b></p>
        <h2 class="section-title"><b>Know how we collaborate with Start-ups</b></h2>

        <p class="text-lead">We’re always excited to listen to new ideas from clients and as one of the largest mobile app development and web development companies worldwide, we create new levels of value through client’s businesses. Here’s how we work together with startups as one across different time zones.</p>
      </div>
    </div>
  </div>
  <div class="row footer-bs" style="margin-top:30px; margin-bottom:30px;">
    <div class="col-md-3 col-md-offset-1" style="margin-left:0px; margin-right:0px;">
  <div id="f1_container">
  <div id="f1_card" class="shadow">
    <div class="front face">
      <img src="webtios/img/1fstartup.png"/>
    </div>
    <div class="back face center">
    <img src="webtios/img/1stratup.png" />
    </div>
  </div>
  </div>
</div>

<div class="col-md-3 col-md-offset-1" style="margin-left:0px; margin-right:0px;">
<div id="f1_container">
<div id="f1_card" class="shadow">
<div class="front face">
  <img src="webtios/img/2fstartup.png" />
</div>
<div class="back face center">
  <img src="webtios/img/2startup.png" />
</div>
</div>
</div>
</div>

<div class="col-md-3 col-md-offset-1" style="margin-left:0px; margin-right:0px;">
<div id="f1_container">
<div id="f1_card" class="shadow">
<div class="front face">
    <img src="webtios/img/3fstartup.png" />
</div>
<div class="back face center">
  <img src="webtios/img/3startup.png" />
</div>
</div>
</div>
</div>

<div class="col-md-3 col-md-offset-1" style="margin-left:0px; margin-right:0px;">
<div id="f1_container">
<div id="f1_card" class="shadow">
<div class="front face">
  <img src="webtios/img/4startups.PNG" />
</div>
<div class="back face center">
<a href="/contact">  <button style="  padding: 19px 39px 18px 39px; color: black;  background-color: white;  font-size: 18px; letter-spacing: 0.07em; text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 80%;
  border: 1px solid #3ac162;
  margin-top:60px;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;" >Contact Us</button></a>
</div>
</div>
</div>
</div>

</div>
