<div id="watchVideo" class="watch-video-section">
  <div class="text-cover top right">HOW WE WORKS</div>
  <div class="container">
    <!--div class="watch-video-row row"-->
      <div class="watch-video-left-col col-sm-6">
        <i class="fas fa-cogs" style="font-size: 3em; color: white; "></i>

        <h2 class="section-title">Here’s how we get you <b>Results on Internet® (ROI):</b></h2>

 <ul class="feature-list">
          <li><i class="fas fa-caret-right" ></i> &nbsp&nbspResearch and customer interviews to create a winning strategy.</li>
          <li><i class="fas fa-caret-right" ></i>&nbsp&nbsp We build, test, and refine user experiences based on research.</li>
          <li><i class="fas fa-caret-right" ></i> &nbsp&nbspDesign and develop a final product that blows the competition.</li>
          <li><i class="fas fa-caret-right" ></i> &nbsp&nbspdriving and engaging customers for even better results.</li>
        </ul>

      </div> <!-- .watch-video-left-col -->

      <!--<div class="watch-video-right-col col-sm-5 col-sm-offset-1">
        <img src="webtios/img/feature-phone-3.png" alt="" data-sr="bottom" data-sr-id="1" style="; visibility: visible;  -webkit-transform: translateY(20px) scale(1); opacity: 0;transform: translateY(20px) scale(1); opacity: 0;">
      </div>--> <!-- .watch-video-right-col -->
      <div class="feature-2-right-col col-sm-5 col-sm-offset-1">
        <img src="webtios/img/feature-3.png">
      </div>
    </div>
  </div>
</div> <!-- #watchVideo -->

<div id="feature1" class="feature1-section">
  <div class="container">
    <div class="feature-2-row row">
      <div class="feature-2-right-col col-sm-6 col-sm-offset-1">
        <h2 class="section-title">We Don’t Like To <b>Brag</b>, but we are not shy about <b>what’s on our resume:</b>.</h2>

        <ul class="feature-list">
          <li><i class="fab fa-medapps" style="color: tomato; "></i> &nbsp&nbsp7+ Years of Experience </li>
          <li><i class="fab fa-medapps" style="color: tomato; "></i>  &nbsp&nbspFortune 50 Client List.</li>
          <li><i class="fab fa-medapps" style="color: tomato; "></i>  &nbsp&nbspClients in 10+ Countries.</li>
          <li><i class="fab fa-medapps" style="color: tomato; "></i> &nbsp&nbspRecognized Leaders in User Experience.</li>
          <li><i class="fab fa-medapps" style="color: tomato; "></i> &nbsp&nbspDeliver ultimate digital experiences for financial services.</li>
    <li><i class="fab fa-medapps" style="color: tomato; "></i> &nbsp&nbspCustomer-centric experiences based on UX best practices, market research, and user testing is the best way to achieve Results on Internet® (ROI).</li>
        </ul>

        <div class="btn-wrap">
          <a class="btn btn-lg btn-theme-1" data-smooth-scroll="false" href="about">About Us&nbsp&nbsp<i class="far fa-smile"></i> </a>
          <a class="btn btn-lg btn-theme-2" data-wow-delay=".2s" href="/quote">Quote Us&nbsp&nbsp<i class="fas fa-child"></i></a>
        </div>

      </div>

      <div class="feature-2-left-col col-sm-5">
        <div class="double-screen-left">
          <img class="screen top" src="webtios/img/feature-phone-1.png" alt="">
          <img class="screen bottom" src="webtios/img/feature-phone-3.png" data-sr="left" alt="" data-sr-id="2" style="; visibility: visible;  -webkit-transform: translateX(-20px) scale(1); opacity: 0;transform: translateX(-20px) scale(1); opacity: 0;">
         <!-- <div class="cloud-from-left"></div>-->
        </div>
      </div> <!-- .feature-2-left-col -->
    </div>
  </div>
</div> <!-- #feature2 -->
