<footer class="site-footer">


<div id="siteFooterBottom" class="site-footer-bottom-section" style="background-color:#f7fbfe;border-top:1px solid #ccc;">
  <div class="row footer-bs">

      <div class="col-md-3 col-md-offset-1">
            <h2 class="section-title">WEBtios™</h2>
    <p class="text-lead">WEBtios™ is a one-stop destination for all
web devlopment related needs, We understand business. That's why we begin every project with a workshop — crafting a one-of-a-kind, unique strategy that is designed to help you win.</p>
    <p class="text-lead">© 2018<a href="https://conejotechnologies.com"> Conejo Technologies Pvt. Ltd.</a> All rights reserved.</p>

    </center>
      </div>
      <div class="col-md-6 col-md-offset-1 styleguide">
   <div class="row" style="padding:5%;">
        <ul class="col-md-4">
          <li>
            <div class="body-1-text color-secondary-text uppercase">Who we are</div>
          </li>
          <li>
            <a class="dim" href="/about">About Us</a>
          </li>

          <li>
            <a class="dim" href="/career">Careers</a>
          </li>

    <li>
            <a class="dim" href="/contact">Contact Us</a>
          </li>

        </ul>
       <!-- <ul  class="col-md-3" >
          <li >
            <div class="body-1-text color-secondary-text uppercase" >Community</div>
          </li>
          <li >
            <a class="dim" href="http://madguylab.com/about/partners" >Partners</a>
          </li>
          <li >
            <a class="dim" href="http://madguylab.com/about/mentors" >Mentors</a>
          </li>

        </ul> -->
        <ul class="col-md-4">
          <li>
            <div class="body-1-text color-secondary-text uppercase">Connect</div>
          </li>
          <li>
            <a class="dim" href="http://webtios.blogspot.com">Blog</a>
          </li>
           <li>
            <a class="dim" href="https://www.facebook.com/webtios/">Facebook</a>
          </li>
          <li>
            <a class="dim" href="https://www.linkedin.com/company/conejo-technologies/">Linkedin</a>
          </li>



        </ul>
        <ul class="col-md-4">
          <li>
            <div class="body-1-text color-secondary-text uppercase">More
            </div>
          </li>
          <li>
            <a class="dim" href="/terms">Terms</a>
          </li>
          <li>
            <a class="dim" href="/privacy">Privacy</a>
          </li>
          <li>
            <a class="dim" href="/contact">Help </a>
          </li>
        </ul>
  </div>
  <div class="col-md-12">
  <center style="font-size:16px;margin-top:10px;">For Support Call :<span style="font-size:22px;color:#f44336;"><a href="tel:+91-91131 61883"> +91-91131 61883 </a></span> (9AM - 6PM)</center>
    <center style="font-size:20px;margin-top:10px;">Made with <i class="fas fa-hand-holding-heart" style="font-size: 1em; color: tomato";></i> in India.</center>
   </div>
      </div>


</div>
</div> <!-- #siteFooterBottom -->

<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <url>
        <loc>webtios.com</loc>
        <lastmod>2018-07-21</lastmod>
        <changefreq>4</changefreq>
        <priority>0.5</priority>
    </url>
</urlset>

</footer>



<script src="webtios/jquery-1.js"></script>
<script src="webtios/bootstrap.js"></script>
<script src="webtios/vendor.js"></script>
<script src="webtios/main.js"></script>
