<nav id="siteNavbar" class="navbar navbar-default navbar-fixed-top site-navbar-from-light-fg">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle-icon navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span"><img src="webtios/paper-plane.png" ></span>
      </button>

      <a class="navbar-brand" href="http://webtios.com/">
        <img class="navbar-brand-media-light" src="webtios/wetios white.png" alt="">
        <img class="navbar-brand-media-dark" src="webtios/webtios.png" alt="">
      </a>
    </div> <!-- .navbar-header -->

    <div class="collapse navbar-collapse" id="navbar-collapse" style="max-height: 576px;">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a data-smooth-scroll="false" href="/">Home</a></li>
        <li><a data-smooth-scroll="false" href="/about">About Us</a></li>
        <li class="glow3"><a data-smooth-scroll="false" href="/career">Career</a></li>
         <!--<li><a data-smooth-scroll="false" href="about/partners">Be a Partner</a></li>
         <li><a data-smooth-scroll="false" href="http://www.webtios.com/">Services</a></li>-->

  <li><a data-smooth-scroll="false" href="/Contact"><button class="btn btn-success">Contact</button></a></li>
  <li><a data-smooth-scroll="false" href="/service"><button class="btn btn-primary">Services</button></a></li>
  <li><a data-smooth-scroll="false" href="https://www.payumoney.com/paybypayumoney/#/22792948493A2A94FA9BB5E00F1DB1FF"><button class="btn btn-primary" style="background-color: black;">PAY&nbsp&nbsp<img src="webtios/pay.png" height="20px" width="20px" alt=""></button></a></li>
    </ul>
    </div> <!-- .navbar-collapse -->
  </div>
</nav>
