<div id="number" class="number-section">
  <div class="container">
    <div class="row">
      <div class="number-box-col col-xs-6 col-sm-3">
        <div class="number-box wow fadeInUp" style="visibility: hidden; animation-name: none;">
          <img src="webtios/img/app_downloads.png" alt="">
          <h5>100+</h5>
          <p>Projects<br>20 other projects</p>
        </div>
      </div>

      <div class="number-box-col col-xs-6 col-sm-3">
        <div class="number-box wow fadeInUp" data-wow-delay="0.2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
          <img src="webtios/img/number-icon-2.png" alt="">
          <h5>50+</h5>
          <p>Clients</p>
        </div>
      </div>
  <div class="number-box-col col-xs-6 col-sm-3">
        <div class="number-box wow fadeInUp" style="visibility: hidden; animation-name: none;">
          <img src="webtios/img/daily_time_spent.png" alt="">
          <h5>10+</h5>
          <p>Mobile App</p>
        </div>
      </div>

      <div class="number-box-col col-xs-6 col-sm-3">
        <div class="number-box wow fadeInUp" data-wow-delay="0.4s" style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">
          <img src="webtios/img/diffrent_languages.png" alt="">
          <h5>15+</h5>
          <p>Other Servises</p>
        </div>
      </div>




    </div>
  </div>
</div>
