<div class="sticky-container">
  <ul class="sticky">
      <li>
          <img src="webtios/socialimg/fb.png" width="32" height="32">
          <p><a href="https://www.facebook.com/webtios" target="_blank">Like Us on<br>Facebook</a></p>
      </li>
      <li>
          <img src="webtios/socialimg/tw.png" width="32" height="32">
          <p><a href="https://twitter.com/conejotech" target="_blank">Follow Us on<br>Twitter</a></p>
      </li>
      <li>
          <img src="webtios/socialimg/gp.png" width="32" height="32">
          <p><a href="https://plus.google.com/111803694791890055991" target="_blank">Follow Us on<br>Google+</a></p>
      </li>
      <li>
          <img src="webtios/socialimg/ln.png" width="32" height="32">
          <p><a href="https://www.linkedin.com/company/conejo-technologies/" target="_blank">Follow Us on<br>LinkedIn</a></p>
      </li>
      <li>
          <img src="webtios/socialimg/yt.png" width="32" height="32">
          <p><a href="https://www.youtube.com/channel/UCYEzyJbJ3iWhG3MsQIF8MWQ?view_as=subscriber" target="_blank">Subscribe on<br>YouYube</a></p>
      </li>
      <li>
          <img src="webtios/socialimg/pi.png" width="32" height="32">
          <p><a href="https://in.pinterest.com/webtioshost" target="_blank">Follow Us on<br>Pinterest</a></p>
      </li>
  </ul>
</div>
