<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie ie9 no-js" lang="en"><![endif]-->
<!--[if gt IE 9 | !IE]><!-->
<html class="js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths desktop landscape is-desktop sr is-scrolled" style="" lang="en"><!--<![endif]--><head>
  <% include partials/head %>
  <link rel="stylesheet" href="webtios/about/css/about.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
jQuery(document).ready(function(){
 jQuery('.skillbar').each(function(){
   jQuery(this).find('.skillbar-bar').animate({
     width:jQuery(this).attr('data-percent')
   },4000);
 });
});
</script>
</head>
<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'dO98ewrklh';var d=document;var w=window;function l(){
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
<!-- {/literal} END JIVOSITE CODE -->
<body>
  <% include partials/btop %>
  <% include partials/social %>

 <!--  <div class="page-loader">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div> .page-loader -->

  <header id="siteHeader" class="site-header site-header-fixed-top">
    <nav id="siteNavbar" class="navbar navbar-default navbar-fixed-top site-navbar-from-light-fg">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle-icon navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span"><img src="webtios/paper-plane.png" ></span>
          </button>

          <a class="navbar-brand" href="http://webtios.com/">
            <img class="navbar-brand-media-light" src="webtios/wetios white.png" alt="">
            <img class="navbar-brand-media-dark" src="webtios/webtios.png" alt="">
          </a>
        </div> <!-- .navbar-header -->

        <div class="collapse navbar-collapse" id="navbar-collapse" style="max-height: 576px;">
          <ul class="nav navbar-nav navbar-right">
            <li><a data-smooth-scroll="false" href="/">Home</a></li>
            <li class="active"><a data-smooth-scroll="false" href="/about">About Us</a></li>
            <li class="glow3"><a data-smooth-scroll="false" href="/career">Careers</a></li>
             <!--<li><a data-smooth-scroll="false" href="about/partners">Be a Partner</a></li>
             <li><a data-smooth-scroll="false" href="http://www.webtios.com/">Services</a></li>-->

      <li><a data-smooth-scroll="false" href="/Contact"><button class="btn btn-success">Contact</button></a></li>
      <li><a data-smooth-scroll="false" href="/service"><button class="btn btn-primary">Services</button></a></li>
      <li><a data-smooth-scroll="false" href="https://www.payumoney.com/paybypayumoney/#/22792948493A2A94FA9BB5E00F1DB1FF"><button class="btn btn-primary" style="background-color: black;">PAY&nbsp&nbsp<img src="webtios/pay.png" height="20px" width="20px" alt=""></button></a></li>
        </ul>
        </div> <!-- .navbar-collapse -->
      </div>
    </nav>
  </header> <!-- .site-header -->
<div class="main">
    <div id="home" class="home-section home-hero align-outer bg-theme-1" style="height: 664px;">

      <div id="homeBgSlideshow" style="height: 600px;" class="vegas-container"><div class="vegas-slide vegas-transition-fade vegas-transition-fade-in vegas-transition-fade-out" style="transition: all 1000ms ease 0s;"><div class="vegas-slide-inner" style="background-image: url(&quot;webtios/img/about us wall.jpg&quot;); background-color: rgba(0, 0, 0, 0); background-position: center center; background-size: cover;"></div></div><div class="vegas-slide vegas-transition-fade vegas-transition-fade-in" style="transition: all 1000ms ease 0s;"><div class="vegas-slide-inner" style="background-image: url(&quot;webtios/img/about us wall.jpg&quot;); background-color: rgba(0, 0, 0, 0); background-position: center center; background-size: cover;"></div></div><div class="vegas-timer vegas-timer-running"><div class="vegas-timer-progress" style="transition-duration: 1000ms;"></div></div><div class="vegas-wrapper" style="overflow: visible; padding: 0px;"></div></div> <!-- #homeBgSlideshow -->

      <div id="homeBgOverlay" class="bg-black" data-opacity=".5" style="opacity: 0.5;"></div> <!-- #homeBgOverlay -->

      <div id="homeBgParticle" data-opacity="1" style="opacity: 1;"><canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;" width="1349" height="600"></canvas></div> <!--- #homeBgParticle -->

      <div class="align-inner align-middle">
        <div class="container">
          <div class="home-row row">
            <div class="home-left-col col-sm-6">
           <h1 class="text-animate section-title" style="font-size: 56px; font-weight: bold;" >WHO WE ARE..?</h1>

              <p class="text-lead wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; font-size: 20px;">We dont like to brag, but we are not shy about who we are and what we do</p>

              <div class="btn-wrap">
          <a class="btn btn-lg btn-theme-2 wow bounceIn" data-wow-delay=".2s" href="/package" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;">Check Packages&nbsp&nbsp <i class="fas fa-shopping-cart"></i></a>
                <a class="btn btn-lg btn-theme-1 wow bounceIn" data-wow-delay=".2s" href="/quote" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;">Quote Us&nbsp&nbsp <i class="fas fa-envelope-open"></i></a>

         </div>
            </div> <!-- .home-left-col -->

            <div class="home-form-col col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">


            </div> <!-- .home-form-col -->
          </div>
        </div>
      </div>
    </div> <!-- #home-->

    <div id="watchVideo" class="watch-video-section">
      <div class="text-cover top right">ABOUT US</div>
      <div class="container">
        <!--div class="watch-video-row row"-->
          <div class="watch-video-left-col col-sm-6">
            <i class="fas fa-cogs" style="font-size: 3em; color: white; "></i>

            <h2 class="section-title">Here’s how we get you <b>Results on Internet® (ROI):</b></h2>

     <ul class="feature-list">
              <li><i class="fas fa-caret-right" ></i> &nbsp&nbsp10+ years of expirence, creating Simple Effective & Creative website we create
        what people love to use and feel.</li>
              <li><i class="fas fa-caret-right" ></i> &nbsp&nbspWEBtios creates stunning, engaging and eye catching websites that reflects
        client’s business very well to attract relevant audiences or customers.</li>
              <li><i class="fas fa-caret-right" ></i> &nbsp&nbspWe are professional website design and development company with digital
        advertising agency based in Patna, India</li>
              <li><i class="fas fa-caret-right" ></i> &nbsp&nbspWe not only deliver good designs but we also work dedicatedly to empower
        businesses and organizations on web to take client’s business ahead and create
        better opportunities.</li>
            </ul>

          </div> <!-- .watch-video-left-col -->

          <!--<div class="watch-video-right-col col-sm-5 col-sm-offset-1">
            <img src="webtios/img/feature-phone-3.png" alt="" data-sr="bottom" data-sr-id="1" style="; visibility: visible;  -webkit-transform: translateY(20px) scale(1); opacity: 0;transform: translateY(20px) scale(1); opacity: 0;">
          </div>--> <!-- .watch-video-right-col -->
          <div class="feature-2-right-col col-sm-5 col-sm-offset-1">
            <img src="webtios/img/feature-3.png">
          </div>
        </div>
      </div>
    </div> <!-- #watchVideo -->

    <div id="feature1" class="feature1-section">

      <div class="container">
        <div class="feature-2-row row">
          <div class="feature-2-right-col col-sm-6 col-sm-offset-1">
            <i class="fas fa-cogs" style="font-size: 3em; color: black; "></i>
            <h2 class="section-title">Website Devlopment company in  <b>Patna, INDIA</b></h2>

            <ul class="feature-list">
              <li><i class="fab fa-medapps" style="color: tomato; "></i> &nbsp&nbspWEBtios provide full web devlopment solution in patna, specializing in website design,
        website development and web marketing to businesses, non-profits, NGO's, and government
        throughout India and abroad. </li>
              <li><i class="fab fa-medapps" style="color: tomato; "></i>  &nbsp&nbspWe'r an emerging group of Web Devlopement company in patna, INDIA that are passionate
        about buid, test and refine user experiences based on years of solid research,
        not guesswork.</li>
              <li><i class="fab fa-medapps" style="color: tomato; "></i>  &nbsp&nbspWe design and develop a final product that blows the competition out of the water.</li>
              <li><i class="fab fa-medapps" style="color: tomato; "></i> &nbsp&nbspWe remain by your side, driving and engaging customers for even better results.</li>
              <li><i class="fab fa-medapps" style="color: tomato; "></i> &nbsp&nbspWe believe that creating customer-centric experiences based on UX best practices,
              market research, and user testing is the best way to achieve Results on Internet® (ROI).</li>
        <li><i class="fab fa-medapps" style="color: tomato; "></i> &nbsp&nbspCustomer-centric experiences based on UX best practices, market research, and user testing is the best way to achieve Results on Internet® (ROI).</li>
            </ul>

            <div class="btn-wrap">
              <a class="btn btn-lg btn-theme-1" data-smooth-scroll="false" href="/contact">Contact Us&nbsp&nbsp<i class="fas fa-phone"></i></i> </a>
              <a class="btn btn-lg btn-theme-2" data-wow-delay=".2s" href="/quote">Quote Us&nbsp&nbsp<i class="fas fa-child"></i></a>
            </div>

          </div>
          <div class="feature-2-left-col col-sm-5">
            <div class="double-screen-left">
              <img class="screen top" src="webtios/img/feature-phone-1.png" alt="">
              <img class="screen bottom" src="webtios/img/feature-phone-3.png" data-sr="left" alt="" data-sr-id="2" style="; visibility: visible;  -webkit-transform: translateX(-20px) scale(1); opacity: 0;transform: translateX(-20px) scale(1); opacity: 0;">
             <!-- <div class="cloud-from-left"></div>-->
            </div>
          </div> <!-- .feature-2-left-col -->
        </div>
      </div>
    </div> <!-- #feature2 -->
    <div id="watchVideo" class="watch-video-section">
      <div class="text-cover top right">OUR SKILLS</div>
      <div class="container">
  <h1 class="text-animate section-title" style="font-size: 56px; font-weight: bold; text-align: center;" >WE ARE EXPERT AT</h1>

    <div class="skillbar clearfix " data-percent="80%">
    	<div class="skillbar-title" style="background: #d35400;"><span>HTML5</span></div>
    	<div class="skillbar-bar" style="background: #e67e22;"></div>
    	<div class="skill-bar-percent">80%</div>
    </div>

    <div class="skillbar clearfix " data-percent="43%">
    	<div class="skillbar-title" style="background: #2980b9;"><span>CSS3</span></div>
    	<div class="skillbar-bar" style="background: #3498db;"></div>
    	<div class="skill-bar-percent">43%</div>
    </div>

    <div class="skillbar clearfix " data-percent="50%">
    	<div class="skillbar-title" style="background: #2c3e50;"><span>jQuery</span></div>
    	<div class="skillbar-bar" style="background: #2c3e50;"></div>
    	<div class="skill-bar-percent">50%</div>
    </div>

    <div class="skillbar clearfix " data-percent="40%">
    	<div class="skillbar-title" style="background: #46465e;"><span>PHP</span></div>
    	<div class="skillbar-bar" style="background: #5a68a5;"></div>
    	<div class="skill-bar-percent">40%</div>
    </div>

    <div class="skillbar clearfix " data-percent="75%">
    	<div class="skillbar-title" style="background: #333333;"><span>Wordpress</span></div>
    	<div class="skillbar-bar" style="background: #525252;"></div>
    	<div class="skill-bar-percent">75%</div>
    </div>

    <div class="skillbar clearfix " data-percent="95%">
    	<div class="skillbar-title" style="background: #27ae60;"><span>SEO</span></div>
    	<div class="skillbar-bar" style="background: #2ecc71;"></div>
    	<div class="skill-bar-percent">95%</div>
    </div>

    <div class="skillbar clearfix " data-percent="63%">
    	<div class="skillbar-title" style="background: #124e8c;"><span>Photoshop</span></div>
    	<div class="skillbar-bar" style="background: #42aed0;"></div>
    	<div class="skill-bar-percent">63%</div>
    </div>

    <div class="skillbar clearfix " data-percent="83%">
      <div class="skillbar-title" style="background: #264e8c;"><span>Node.js</span></div>
      <div class="skillbar-bar" style="background: #72ced0;"></div>
      <div class="skill-bar-percent">83%</div>
    </div>

    <div class="skillbar clearfix " data-percent="59%">
      <div class="skillbar-title" style="background: #524e8c;"><span>MEAN</span></div>
      <div class="skillbar-bar" style="background: #22d8d0;"></div>
      <div class="skill-bar-percent">59%</div>
    </div>
  </div>
  </div>
  </div>
 <% include partials/footer %>
 <% include partials/jivo %>
</body>
</html>
