<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie ie9 no-js" lang="en"><![endif]-->
<!--[if gt IE 9 | !IE]><!-->
<html class="js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths desktop landscape is-desktop sr is-scrolled" style="" lang="en"><!--<![endif]--><head>
  <% include partials/head %>


<script src="webtios/jssor.slider-27.2.0.min.js"></script>
  </header>
</head>

<body>
  <% include partials/btop %>
  <% include partials/social %>
 <header id="siteHeader" class="site-header site-header-fixed-top">
   <nav id="siteNavbar" class="navbar navbar-default navbar-fixed-top site-navbar-from-light-fg">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle-icon navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
           <span class="sr-only">Toggle navigation</span>
           <span"><img src="webtios/paper-plane.png" ></span>
         </button>

         <a class="navbar-brand" href="http://webtios.com/">
           <img class="navbar-brand-media-light" src="webtios/wetios white.png" alt="">
           <img class="navbar-brand-media-dark" src="webtios/webtios.png" alt="">
         </a>
       </div> <!-- .navbar-header -->

       <div class="collapse navbar-collapse" id="navbar-collapse" style="max-height: 576px;">
         <ul class="nav navbar-nav navbar-right">
           <li><a data-smooth-scroll="false" href="/">Home</a></li>
           <li><a data-smooth-scroll="false" href="/about">About Us</a></li>
           <li class="active"><a data-smooth-scroll="false" href="/career">Careers</a></li>

     <li><a data-smooth-scroll="false" href="/Contact"><button class="btn btn-success">Contact</button></a></li>
     <li><a data-smooth-scroll="false" href="/service"><button class="btn btn-primary">Services</button></a></li>
     <li><a data-smooth-scroll="false" href="https://www.payumoney.com/paybypayumoney/#/22792948493A2A94FA9BB5E00F1DB1FF"><button class="btn btn-primary" style="background-color: black;">PAY&nbsp&nbsp<img src="webtios/pay.png" height="20px" width="20px" alt=""></button></a></li>
       </ul>
       </div> <!-- .navbar-collapse -->
     </div>
   </nav>

  </header> <!-- .site-header -->
<div class="main">
    <div id="home" class="home-section home-hero align-outer bg-theme-1" style="height: 664px;">

      <div id="homeBgSlideshow" style="height: 600px;" class="vegas-container"><div class="vegas-slide vegas-transition-fade vegas-transition-fade-in vegas-transition-fade-out" style="transition: all 1000ms ease 0s;"><div class="vegas-slide-inner" style="background-image: url(&quot;webtios/img/carear.png&quot;); background-color: rgba(0, 0, 0, 0); background-position: center center; background-size: cover;"></div></div><div class="vegas-slide vegas-transition-fade vegas-transition-fade-in" style="transition: all 1000ms ease 0s;"><div class="vegas-slide-inner" style="background-image: url(&quot;webtios/img/carear.png&quot); background-color: rgba(0, 0, 0, 0); background-position: center center; background-size: cover;"></div></div><div class="vegas-timer vegas-timer-running"><div class="vegas-timer-progress" style="transition-duration: 1000ms;"></div></div><div class="vegas-wrapper" style="overflow: visible; padding: 0px;"></div></div> <!-- #homeBgSlideshow -->

      <div id="homeBgOverlay" class="bg-black" data-opacity=".5" style="opacity: 0.5;"></div> <!-- #homeBgOverlay -->

      <div id="homeBgParticle" data-opacity="1" style="opacity: 1;"><canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;" width="1349" height="600"></canvas></div> <!--- #homeBgParticle -->

      <div class="align-inner align-middle">
        <div class="container">
          <div class="home-row row">
            <div class="home-left-col col-sm-6">
           <h1 class="text-animate section-title" style="font-size: 56px; font-weight: bold;" >CAREERS..</h1>

              <p class="text-lead wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; font-size: 20px;">make your path toward a better tomorrow</p>

              <div class="btn-wrap">
                <a class="btn btn-lg btn-theme-2 wow bounceIn" data-wow-delay=".2s" href="/package" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;">Check Packages&nbsp&nbsp <i class="fas fa-shopping-cart"></i></a>
                <a class="btn btn-lg btn-theme-1 wow bounceIn" data-wow-delay=".2s" href="/quote" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;">Quote Us&nbsp&nbsp <i class="fas fa-envelope-open"></i></a>

         </div>
            </div> <!-- .home-left-col -->

            <div class="home-form-col col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">


            </div> <!-- .home-form-col -->
          </div>
        </div>
      </div>
    </div> <!-- #home-->

    <div id="contact" class="contact-section">
      <div class="container">
        <div class="contact-title-row row">
          <div class="contact-title-col col-sm-12 col-sm-offset-2" style="margin: 0 0 0 0;">
            <h2 class="section-title">We are<b class="glow"> #No.1</b> Web Development company in <br><b>Patna, India</b> </h2>

            <p class="text-lead">Conejo Technologies (Pvt.) Ltd.™ is incubated by
    NIT Patna for our remarkable work in education sector. We are also
    registered under Startup Bihar programme by government of Bihar.</p>
<div class="indeedjobs-widget" data-id="57887b946c893ea071ad" data-theme="light" data-height="320"></div> <script> (function(d, id) { if (d.getElementById(id)) return; var js = d.createElement('script'); js.id = id; js.src = 'https://www.indeedjobs.com/widget.js'; d.head.appendChild(js); })(document, 'indeedjobs-js'); </script>

  <h1 class="section-title" style="margin-bottom:0px;">We are <b class="glow1">HIRING</b> right now and you can <b class="glow2">STILL LEARN</b> with us. <hr style=" height:5px;"></h1>
          </div>
        </div>
      </div>

      <div class="row footer-bs" style="margin-top:20px; margin-bottom:0px;">

          <div class="col-md-4 col-md-offset-1" style="margin-left:0px; margin-right:0px; margin-bottom:10px;">
            <img  src="webtios/img/web beginner ADs.jpg" width="90%" height="auto" style="margin-left:25px;">
          </div>
          <div class="col-md-4 col-md-offset-1" style="margin-left:0px; margin-right:0px; margin-bottom:10px;">
            <img  src="webtios/img/web1.jpg" width="90%" height="auto" style="margin-left:25px;" >
          </div>
          <div class="col-md-4 col-md-offset-1" style="margin-left:0px; margin-right:0px;">
            <img  src="webtios/img/web22.jpg" width="90%" height="auto" style="margin-left:25px;" >
          </div>
        </div>
        <div class="btn-wrap" style="margin-top:20px; margin-bottom:20px;"><center>
             <a class="btn btn-lg btn-theme-2 wow bounceIn" data-wow-delay=".2s" href="/contact" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">Enroll Now&nbsp&nbsp <i class="fa fa-graduation-cap"></i></a>
            </center></div>

            <script src="js/jssor.slider-27.2.0.min.js" type="text/javascript"></script>
<script type="text/javascript">
    jssor_1_slider_init = function() {

        var jssor_1_options = {
          $AutoPlay: 1,
          $Idle: 0,
          $SlideDuration: 5000,
          $SlideEasing: $Jease$.$Linear,
          $PauseOnHover: 4,
          $SlideWidth: 140,
          $Align: 0
        };

        var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

        /*#region responsive code begin*/

        var MAX_WIDTH = 980;

        function ScaleSlider() {
            var containerElement = jssor_1_slider.$Elmt.parentNode;
            var containerWidth = containerElement.clientWidth;

            if (containerWidth) {

                var expectedWidth = Math.min(MAX_WIDTH || containerWidth, containerWidth);

                jssor_1_slider.$ScaleWidth(expectedWidth);
            }
            else {
                window.setTimeout(ScaleSlider, 30);
            }
        }

        ScaleSlider();

        $Jssor$.$AddEvent(window, "load", ScaleSlider);
        $Jssor$.$AddEvent(window, "resize", ScaleSlider);
        $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
        /*#endregion responsive code end*/
    };
</script>

<div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:100px;overflow:hidden;visibility:hidden;">
    <!-- Loading Screen -->
    <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
        <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="img/spin.svg" />
    </div>
    <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:980px;height:100px;overflow:hidden;">
        <div data-p="30">
            <img data-u="image" src="webtios/img/SS.png" />
        </div>
        <div data-p="30">
            <img data-u="image" src="webtios/img/SS2.png" />
        </div>
        <div data-p="30">
            <img data-u="image" src="webtios/img/SS3.png" />
        </div>
        <div data-p="30">
            <img data-u="image" src="webtios/img/SS4.png" />
        </div>
        <div data-p="30">
            <img data-u="image" src="webtios/img/SS5.png" />
        </div>
        <div data-p="30">
            <img data-u="image" src="webtios/img/SS6.png" />
        </div>
        <div data-p="30">
            <img data-u="image" src="webtios/img/SS7.png" />
        </div>
        <div data-p="30">
            <img data-u="image" src="webtios/img/SS8.png" />
        </div>
    </div>
</div>
</div>
<script type="text/javascript">jssor_1_slider_init();</script>
      <!--  <img alt="NIT Patna" src="webtios/img/web beginner ADs.jpg"  height="auto" width="20%">
        <img  alt="Exam Lab 365" src="webtios/img/web1.jpg" height="auto" width="20%">
        <img alt="Conejo Technologies" src="webtios/img/web22.jpg"  height="auto" width="20%">-->




        <h2 class="section-title" style="margin-top:20px;"><center>Our Partners</center><hr style=" height:5px; width:20%; align:center; "></h2>
        <div class="row footer-bs" style="margin-top:20px; margin-bottom:0px;">
          <div class="col-md-3 col-md-offset-1" style="margin-left:0px; margin-right:0px; margin-bottom:10px;">
            <div class="card">
              <a href="https://webtios.com" style="none">
         <img src="webtios/img/webtoslogos.png" alt="Card Back" style="margin-left:50px; margin-right:0px; margin-bottom:10px;">
           <img src="webtios/img/webtoslogo.png" class="img-top" style="margin-left:50px; margin-right:0px; margin-bottom:10px;">
         </a>
       </div>
      </div>
<div class="col-md-3 col-md-offset-1" style="margin-left:0px; margin-right:0px; margin-bottom:10px;">
      <div class="card">
        <a href="https://oneflip.in" style="none">
   <img src="webtios/img/oneflip[1800x500]b.png" alt="Card Back" style="margin-left:20px; margin-right:10px; margin-bottom:10px;">
     <img src="webtios/img/oneflip[1800x500]c.png" class="img-top" style="margin-left:20px; margin-right:10px; margin-bottom:10px;">
   </a>
 </div>
</div>
  <div class="col-md-3 col-md-offset-1" style="margin-left:0px; margin-right:0px; margin-bottom:10px;">
      <div class="card">
        <a href="https://examlab.oneflip.in" style="none">
   <img src="webtios/img/examlab.bw[5000x15000].png" alt="Card Back" style="margin-left:35px; margin-right:10px; margin-bottom:10px;">
     <img src="webtios/img/examlab.io[5000x15000].png" class="img-top" style="margin-left:35px; margin-right:10px; margin-bottom:10px;">
   </a>
 </div>
</div>

<div class="col-md-3 col-md-offset-1" style="margin-left:0px; margin-right:0px; margin-bottom:10px;">
 <div class="card" style="margin-right:120px;" >
   <a href="https://conejotechnologies.com" style="none">
<img src="webtios/img/conejotww.png" alt="Card Back" style=" margin-right:10px; margin-bottom:10px; align:center;">
<img src="webtios/img/conejotw.png" class="img-top" style=" margin-right:10px; margin-bottom:10px; align:center;" >
</a>
</div>
</div>
    </div>





 <% include partials/footer %>
</div>
<% include partials/jivo %>
</body>
</html>
