<!DOCTYPE html>
<html class="js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths desktop landscape is-desktop sr is-scrolled" style="" lang="en"><!--<![endif]--><head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122674129-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-122674129-1');
</script>

  <% include partials/head %>
<link rel="stylesheet" href="webtios/contact.css"/>
	</head>
	<body>
    <% include partials/btop %>
    
		<!--  <div class="page-loader">
			 <div class="spinner">
				 <div class="bounce1"></div>
				 <div class="bounce2"></div>
				 <div class="bounce3"></div>
			 </div>
		 </div> .page-loader -->

		 <header id="siteHeader" class="site-header site-header-fixed-top">
       <nav id="siteNavbar" class="navbar navbar-default navbar-fixed-top site-navbar-from-light-fg">
         <div class="container">
           <div class="navbar-header">
             <button type="button" class="navbar-toggle-icon navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               <span"><img src="webtios/paper-plane.png" ></span>
             </button>

             <a class="navbar-brand" href="http://webtios.com/">
               <img class="navbar-brand-media-light" src="webtios/wetios white.png" alt="">
               <img class="navbar-brand-media-dark" src="webtios/webtios.png" alt="">
             </a>
           </div> <!-- .navbar-header -->

           <div class="collapse navbar-collapse" id="navbar-collapse" style="max-height: 576px;">
             <ul class="nav navbar-nav navbar-right">
               <li><a data-smooth-scroll="false" href="/">Home</a></li>
               <li><a data-smooth-scroll="false" href="/about">About Us</a></li>
               <li><a data-smooth-scroll="false" href="http://blog.webtios.com">Blog</a></li>
               <li class="glow3"><a data-smooth-scroll="false" href="/career">Careers</a></li>


         <li><a data-smooth-scroll="false" href="/Contact"><button class="btn btn-success">Contact</button></a></li>
         <li><a data-smooth-scroll="false" href="/service"><button class="btn btn-primary">Services</button></a></li>
         <li><a data-smooth-scroll="false" href="https://www.payumoney.com/paybypayumoney/#/22792948493A2A94FA9BB5E00F1DB1FF"><button class="btn btn-primary" style="background-color: black;">PAY&nbsp&nbsp<img src="webtios/pay.png" height="20px" width="20px" alt=""></button></a></li>
           </ul>
           </div> <!-- .navbar-collapse -->
         </div>
       </nav>

		 </header> <!-- .site-header -->
	 <div class="main">
			 <div id="home" class="home-section home-hero align-outer bg-theme-1" style="height: 664px;">

				 <div id="homeBgSlideshow" style="height: 600px;" class="vegas-container"><div class="vegas-slide vegas-transition-fade vegas-transition-fade-in vegas-transition-fade-out" style="transition: all 1000ms ease 0s;"><div class="vegas-slide-inner" style="background-image: url(&quot;webtios/img/contact-us.jpg&quot;); background-color: rgba(0, 0, 0, 0); background-position: center center; background-size: cover;"></div></div><div class="vegas-slide vegas-transition-fade vegas-transition-fade-in" style="transition: all 1000ms ease 0s;"><div class="vegas-slide-inner" style="background-image: url(&quot;webtios/img/contact-us.jpg&quot;); background-color: rgba(0, 0, 0, 0); background-position: center center; background-size: cover;"></div></div><div class="vegas-timer vegas-timer-running"><div class="vegas-timer-progress" style="transition-duration: 1000ms;"></div></div><div class="vegas-wrapper" style="overflow: visible; padding: 0px;"></div></div> <!-- #homeBgSlideshow -->

				 <div id="homeBgOverlay" class="bg-black" data-opacity=".5" style="opacity: 0.5;"></div> <!-- #homeBgOverlay -->

				 <div id="homeBgParticle" data-opacity="1" style="opacity: 1;"><canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;" width="1349" height="600"></canvas></div> <!--- #homeBgParticle -->

				 <div class="align-inner align-middle">
					 <div class="container">
						 <div class="home-row row">
							 <div class="home-left-col col-sm-6">
							<h1 class="text-animate section-title" style="font-size: 56px; font-weight: bold;" >NEED TO TALK TO US?</h1>

								 <p class="text-lead wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; font-size: 20px;">We're listening....<br>We cherish all interactions.</p>

								 <div class="btn-wrap">
						 <a class="btn btn-lg btn-theme-2 wow bounceIn" data-wow-delay=".2s" href="/package" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;">Check Packages&nbsp&nbsp <i class="fas fa-shopping-cart"></i></a>
									 <a class="btn btn-lg btn-theme-1 wow bounceIn" data-wow-delay=".2s" href="/quote" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;">Quote Us&nbsp&nbsp <i class="fas fa-envelope-open"></i></a>

						</div>
							 </div> <!-- .home-left-col -->
          	 </div>
					 </div>
				 </div>
			 </div> <!-- #home-->
       <div id="watchVideo" class="watch-video-section">
         <div class="text-cover top right">CONTACT US</div>
         <div class="container">
           <!--div class="watch-video-row row"-->

             <div class="watch-video-left-col col-sm-6">

               <form action="/Submit" method="post" style="background: linear-gradient(to bottom, #00ffcc 0%, #9900cc 100%);">


     <fieldset>
<h2 style="margin-bottom:0px; color:black;"> <strong>Basic information</strong></h2>
      <legend><a href="https://conejotechnologies.com"><img src="webtios/img/conejo.png" align="right" style="margin-bottom:15px;"/></a></legend>
      <input type="text" id="user_name" name="user_name" placeholder="Name" required="true" title="Full Name" alt="Full Name">
      <input type="email" id="user_email" name="user_email" placeholder="Email" required="true" title="Your Email-id" alt="Your Email-id">
      <input type="text" id="user_phone" name="user_phone" placeholder="Phone" required="true" title="Contact Number" alt="Contact Number">
      <textarea id="user_bio" name="user_bio" placeholder="Your text here. Write as much as you want." title="Your Message" alt="Your Message"></textarea>
</fieldset>
<button type="submit" class="formbutton" >Submit</button>
</form>

             </div> <!-- .watch-video-left-col -->

             <!--<div class="watch-video-right-col col-sm-5 col-sm-offset-1">
               <img src="webtios/img/feature-phone-3.png" alt="" data-sr="bottom" data-sr-id="1" style="; visibility: visible;  -webkit-transform: translateY(20px) scale(1); opacity: 0;transform: translateY(20px) scale(1); opacity: 0;">
             </div>--> <!-- .watch-video-right-col -->
             <div class="watch-video-right-col col-sm-6">
               <img src="webtios/img/bg-typewriter-contact.gif" style="margin-top:100px;">
             </div>
           </div>
         </div>
       </div>

           <div id="map" style="height:400px; width:100%"></div>
      <script>

        function initMap() {
          var myLatLng = {lat: 25.597796, lng: 85.130266};

          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: myLatLng
          });

          var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'WEBtios'
          });
        }
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAy2re_6eeN5rTEXFh85wjfqg8l84UXmo8&callback=initMap">
      </script>


		<% include partials/footer %>
    <% include partials/jivo %>
	</body>
</html>
