<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie ie9 no-js" lang="en"><![endif]-->
<!--[if gt IE 9 | !IE]><!-->
<html class="js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths desktop landscape is-desktop sr is-scrolled" style="" lang="en"><!--<![endif]--><head>
  <% include partials/head %>

  </header>
</head>

<body>
<% include partials/btop %>
<% include partials/social %>
  <% include partials/preloader %>
  <header id="siteHeader" class="site-header site-header-fixed-top">
   <% include partials/nav %>
  </header> <!-- .site-header -->
<div class="main">
    <div id="home" class="home-section home-hero align-outer bg-theme-1" style="height: 664px;">

      <div id="homeBgSlideshow" style="height: 600px;" class="vegas-container"><div class="vegas-slide vegas-transition-fade vegas-transition-fade-in vegas-transition-fade-out" style="transition: all 1000ms ease 0s;"><div class="vegas-slide-inner" style="background-image: url(&quot;webtios/img/web1.png&quot;); background-color: rgba(0, 0, 0, 0); background-position: center center; background-size: cover;"></div></div><div class="vegas-slide vegas-transition-fade vegas-transition-fade-in" style="transition: all 1000ms ease 0s;"><div class="vegas-slide-inner" style="background-image: url(&quot;webtios/img/web1.png&quot;); background-color: rgba(0, 0, 0, 0); background-position: center center; background-size: cover;"></div></div><div class="vegas-timer vegas-timer-running"><div class="vegas-timer-progress" style="transition-duration: 1000ms;"></div></div><div class="vegas-wrapper" style="overflow: visible; padding: 0px;"></div></div> <!-- #homeBgSlideshow -->

      <div id="homeBgOverlay" class="bg-black" data-opacity=".5" style="opacity: 0.5;"></div> <!-- #homeBgOverlay -->

      <div id="homeBgParticle" data-opacity="1" style="opacity: 1;"><canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;" width="1349" height="600"></canvas></div> <!--- #homeBgParticle -->

      <div class="align-inner align-middle">
        <div class="container">
          <div class="home-row row">
            <div class="home-left-col col-sm-6">
           <h1 class="text-animate section-title" style="font-size: 56px; font-weight: bold;" >Ultimate
  Digital
  Experiences</h1>

              <p class="text-lead wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; font-size: 20px;">When it comes to the success of your website, app or software, strategy is everything. It’s the foundation for your success. It’s do or die.</p>

              <div class="btn-wrap">
                <a class="btn btn-lg btn-theme-2 wow bounceIn" data-wow-delay=".2s" href="/package" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;">Check Packages&nbsp&nbsp <i class="fas fa-shopping-cart"></i></a>
                <a class="btn btn-lg btn-theme-1 wow bounceIn" data-wow-delay=".2s" href="/quote" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;">Quote Us&nbsp&nbsp <i class="fas fa-envelope-open"></i></a>

         </div>
            </div> <!-- .home-left-col -->
          </div>
        </div>
      </div>
    </div> <!-- #home-->
        <% include partials/services %>
       <% include partials/commit %>
     <% include partials/feature %>
    <% include partials/client %>
   <% include partials/number %>
  <% include partials/collaboration %>
 <% include partials/footer %>
</div>
<% include partials/jivo %>
</body>
</html>
