<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie ie9 no-js" lang="en"><![endif]-->
<!--[if gt IE 9 | !IE]><!-->
<html class="js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths desktop landscape is-desktop sr is-scrolled" style="" lang="en"><!--<![endif]--><head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122674129-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-122674129-1');
</script>

  <%include partials/head %>

  </header>
</head>

<body>
  <% include partials/btop %>

 <!--  <div class="page-loader">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div> .page-loader -->

  <header id="siteHeader" class="site-header site-header-fixed-top">
    <nav id="siteNavbar" class="navbar navbar-default navbar-fixed-top site-navbar-from-light-fg">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle-icon navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span"><img src="webtios/paper-plane.png" ></span>
          </button>

          <a class="navbar-brand" href="http://webtios.com/">
            <img class="navbar-brand-media-light" src="webtios/wetios white.png" alt="">
            <img class="navbar-brand-media-dark" src="webtios/webtios.png" alt="">
          </a>
        </div> <!-- .navbar-header -->

        <div class="collapse navbar-collapse" id="navbar-collapse" style="max-height: 576px;">
          <ul class="nav navbar-nav navbar-right">
            <li><a data-smooth-scroll="false" href="/">Home</a></li>
            <li><a data-smooth-scroll="false" href="/about">About Us</a></li>
            <li><a data-smooth-scroll="false" href="http://blog.webtios.com">Blog</a></li>
            <li class="glow3"><a data-smooth-scroll="false" href="/career">Careers</a></li>

      <li><a data-smooth-scroll="false" href="/Contact"><button class="btn btn-success">Contact</button></a></li>
      <li><a data-smooth-scroll="false" href="/service"><button class="btn btn-primary">Services</button></a></li>
      <li><a data-smooth-scroll="false" href="https://www.payumoney.com/paybypayumoney/#/22792948493A2A94FA9BB5E00F1DB1FF"><button class="btn btn-primary" style="background-color: black;">PAY&nbsp&nbsp<img src="webtios/pay.png" height="20px" width="20px" alt=""></button></a></li>
        </ul>
        </div> <!-- .navbar-collapse -->
      </div>
    </nav>

  </header> <!-- .site-header -->
<div class="main">
    <div id="home" class="home-section home-hero align-outer bg-theme-1" style="height: 664px;">

      <div id="homeBgSlideshow" style="height: 600px;" class="vegas-container"><div class="vegas-slide vegas-transition-fade vegas-transition-fade-in vegas-transition-fade-out" style="transition: all 1000ms ease 0s;"><div class="vegas-slide-inner" style="background-image: url(&quot;webtios/img/privacy.jpg&quot;); background-color: rgba(0, 0, 0, 0); background-position: center center; background-size: cover;"></div></div><div class="vegas-slide vegas-transition-fade vegas-transition-fade-in" style="transition: all 1000ms ease 0s;"><div class="vegas-slide-inner" style="background-image: url(&quot;webtios/img/privacy.jpg&quot;); background-color: rgba(0, 0, 0, 0); background-position: center center; background-size: cover;"></div></div><div class="vegas-timer vegas-timer-running"><div class="vegas-timer-progress" style="transition-duration: 1000ms;"></div></div><div class="vegas-wrapper" style="overflow: visible; padding: 0px;"></div></div> <!-- #homeBgSlideshow -->

      <div id="homeBgOverlay" class="bg-black" data-opacity=".5" style="opacity: 0.5;"></div> <!-- #homeBgOverlay -->

      <div id="homeBgParticle" data-opacity="1" style="opacity: 1;"><canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;" width="1349" height="600"></canvas></div> <!--- #homeBgParticle -->

      <div class="align-inner align-middle">
        <div class="container">
          <div class="home-row row">
            <div class="home-left-col col-sm-6">
           <h1 class="text-animate section-title" style="font-size: 56px; font-weight: bold;" >PRIVACY STATEMENT</h1>

              <p class="text-lead wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; font-size: 20px;">We respects your right to confidentiality and we are committed to protecting your privacy</p>

              <div class="btn-wrap">
    <a class="btn btn-lg btn-theme-2 wow bounceIn" data-wow-delay=".2s" href="/package" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;">Check Packages&nbsp&nbsp <i class="fas fa-shopping-cart"></i></a>
                <a class="btn btn-lg btn-theme-1 wow bounceIn" data-wow-delay=".2s" href="/quote" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;">Quote Us&nbsp&nbsp <i class="fas fa-envelope-open"></i></a>

         </div>
            </div> <!-- .home-left-col -->

            <div class="home-form-col col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">


            </div> <!-- .home-form-col -->
          </div>
        </div>
      </div>
    </div> <!-- #home-->
    <div id="watchVideo" class="watch-video-section">
      <div class="text-cover top right">PRIVACY STATEMENT</div>
      <div class="container">
        <!--div class="watch-video-row row"-->
          <div class="watch-video-left-col col-sm-12">
            <i class="fas fa-cogs" style="font-size: 3em; color: white; "></i>

            <ul class="feature-list">
                     <h2> WEBtios recognizes and respects your right to confidentiality and is committed to protecting the privacy of the visitors to its web site http://www.WEBtios.com .</h2>
                     <h2 class="section-title" style="margin-top:20px; margin-bottom:0px;">PRIVAVY & CONFIDENTIALITY</h2>
                     <p>WEBtios is the sole owner of the information collected on this website. We will not give, rent, loan, or sell any identifiable personal information to any other third party, unless legally required to do so.
The information shared by you or the visitor will be used for the specific purpose it is provided for. The information and the contact details provided would not be shared, rented or sold to any third party. However, WEBtios retains the right to contact the person who has submitted the information at any time unless otherwise specified. We may send emails to you at the email id given by you. We respect your privacy and, in the event, that you choose to not receive such emails, we will take all steps to remove you from our list. We will make all efforts to respond to you in a timely manner to fulfill your requests.
If you have any questions about this privacy statement, or our Web sites, please get in touch with us.



                 </div> <!-- .watch-video-left-col -->



          </div>
          </div>
          </div>
          </div> <!-- #watchVideo -->
<% include partials/footer %>
<% include partials/jivo %>
</div>
</body>
</html>
