<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie ie9 no-js" lang="en"><![endif]-->
<!--[if gt IE 9 | !IE]><!-->
<html class="js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths desktop landscape is-desktop sr is-scrolled" style="" lang="en"><!--<![endif]--><head>
  <% include partials/head %>

  </header>
</head>

<body>
  <% include partials/btop %>
  <% include partials/social %>

 <!--  <div class="page-loader">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div> .page-loader -->

  <header id="siteHeader" class="site-header site-header-fixed-top">
    <nav id="siteNavbar" class="navbar navbar-default navbar-fixed-top site-navbar-from-light-fg">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle-icon navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span"><img src="webtios/paper-plane.png" ></span>
          </button>

          <a class="navbar-brand" href="http://webtios.com/">
            <img class="navbar-brand-media-light" src="webtios/wetios white.png" alt="">
            <img class="navbar-brand-media-dark" src="webtios/webtios.png" alt="">
          </a>
        </div> <!-- .navbar-header -->

        <div class="collapse navbar-collapse" id="navbar-collapse" style="max-height: 576px;">
          <ul class="nav navbar-nav navbar-right">
            <li><a data-smooth-scroll="false" href="/">Home</a></li>
            <li><a data-smooth-scroll="false" href="/about">About Us</a></li>
            <li class="glow3"><a data-smooth-scroll="false" href="/career">Careers</a></li>

      <li><a data-smooth-scroll="false" href="/Contact"><button class="btn btn-success">Contact</button></a></li>
      <li><a data-smooth-scroll="false" href="/service"><button class="btn btn-primary">Services</button></a></li>
      <li><a data-smooth-scroll="false" href="https://www.payumoney.com/paybypayumoney/#/22792948493A2A94FA9BB5E00F1DB1FF"><button class="btn btn-primary" style="background-color: black;">PAY&nbsp&nbsp<img src="webtios/pay.png" height="20px" width="20px" alt=""></button></a></li>
        </ul>
        </div> <!-- .navbar-collapse -->
      </div>
    </nav>

  </header> <!-- .site-header -->
<div class="main">
    <div id="home" class="home-section home-hero align-outer bg-theme-1" style="height: 664px;">

      <div id="homeBgSlideshow" style="height: 600px;" class="vegas-container"><div class="vegas-slide vegas-transition-fade vegas-transition-fade-in vegas-transition-fade-out" style="transition: all 1000ms ease 0s;"><div class="vegas-slide-inner" style="background-image: url(&quot;webtios/img/terms.jpg&quot;); background-color: rgba(0, 0, 0, 0); background-position: center center; background-size: cover;"></div></div><div class="vegas-slide vegas-transition-fade vegas-transition-fade-in" style="transition: all 1000ms ease 0s;"><div class="vegas-slide-inner" style="background-image: url(&quot;webtios/img/terms.jpg&quot;); background-color: rgba(0, 0, 0, 0); background-position: center center; background-size: cover;"></div></div><div class="vegas-timer vegas-timer-running"><div class="vegas-timer-progress" style="transition-duration: 1000ms;"></div></div><div class="vegas-wrapper" style="overflow: visible; padding: 0px;"></div></div> <!-- #homeBgSlideshow -->

      <div id="homeBgOverlay" class="bg-black" data-opacity=".5" style="opacity: 0.5;"></div> <!-- #homeBgOverlay -->

      <div id="homeBgParticle" data-opacity="1" style="opacity: 1;"><canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;" width="1349" height="600"></canvas></div> <!--- #homeBgParticle -->

      <div class="align-inner align-middle">
        <div class="container">
          <div class="home-row row">
            <div class="home-left-col col-sm-6">
           <h1 class="text-animate section-title" style="font-size: 56px; font-weight: bold;" >TERMS AND CONDITION</h1>

              <p class="text-lead wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; font-size: 20px;">LEARN ABOUT OUR TERMS AND CONDITIONS FOR WORK WITH US</p>

              <div class="btn-wrap">
                <a class="btn btn-lg btn-theme-2 wow bounceIn" data-wow-delay=".2s" href="/package" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;">Our Product<i class="fas fa-desktop"></i></a>
                <a class="btn btn-lg btn-theme-1 wow bounceIn" data-wow-delay=".2s" href="/quote" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;">Quote Us <i class="fas fa-envelope-open"></i></a>

         </div>
            </div> <!-- .home-left-col -->
          </div>
        </div>
      </div>
    </div> <!-- #home-->
    <div id="watchVideo" class="watch-video-section">
      <div class="text-cover top right">TERMS AND CONDITIONS</div>
      <div class="container">
        <!--div class="watch-video-row row"-->
          <div class="watch-video-left-col col-sm-12">
            <i class="fas fa-cogs" style="font-size: 3em; color: white; "></i>



     <ul class="feature-list">
              <h2> WEBtios.com provides website services, with the help of its Service Providers pursuant to the terms and conditions set forth below. This Agreement shall continue to be in full force and effect for one year from the date of domain registration. By paying for the service you agree to use the services in a manner consistent with and abide by the terms and conditions as set forth below. The reference to terms and conditions in these presents terms and conditions of the Central Registrar also.</h2>
              <h2 class="section-title" style="margin-top:20px; margin-bottom:0px;">MODIFICATION OF TERMS OF SERVICE: </h2>
              <p>WEBTIOS and/or its service providers may at any time modify the terms and conditions (“Terms”) of the Service without any prior notification to you. You can access the latest version of the Terms on http://www.WEBtios.com . You should regularly review the Terms. In the event the modified Terms are not acceptable to you, you should intimate the same to us. After receiving your refusal WEBTIOS and/or its service providers shall discontinue updating the site and may remove the contents provided by you. In that event the domain will remain with WEBTIOS and/or its service providers till its due date and thereafter may become free. WEBTIOS and/or its service providers may or may not make any effort to get the name transferred in your name.</p>
<h3 class="section-title" style="margin-top:20px; margin-bottom:0px;">Accounts cannot be used for any of the following purpose: </h3>
              <p><i class="fas fa-caret-right" ></i> &nbsp&nbspSpamming or sending UCE (Unsolicited Commercial Mail). Spamming includes the transmission of any form of mail that can be interpreted as junk mail or mail generated via a distribution list which the recipient has not specifically requested;</p>
              <p><i class="fas fa-caret-right" ></i> &nbsp&nbsp Software piracy</p>
              <p><i class="fas fa-caret-right" ></i>&nbsp&nbsp Distribution of pornographic material</p>
              <p><i class="fas fa-caret-right" ></i>&nbsp&nbsp Hacking or attempting to use machine or network resources for unlawful / illegal purposes.</p>
              <p><h4><u> Any account violating any of the terms of this Agreement will be terminated immediately and no refunds will be issued, notwithstanding penal provisions under the Indian Cyber laws or any other allied laws enacted by the Government of India or any other statutory, legislative or regulatory authority authorized in this regard from time to time.</h4></u></p>
              <p><i class="fas fa-caret-right" ></i>&nbsp&nbsp Registrar Registrant Agreement for Domain Names</p>
              <p><i class="fas fa-caret-right" ></i> &nbsp&nbspCustomer Agreement for Domain Names</p>
              <p><i class="fas fa-caret-right" ></i> &nbsp&nbspCustomer Agreement for Web Services</p>
              <p><i class="fas fa-caret-right" ></i> &nbsp&nbspCustomer Agreement for Digital Certificates</p>
              <p><i class="fas fa-caret-right" ></i>&nbsp&nbsp Customer Hosting Product Agreement</p>
<h2 class="section-title" style="margin-top:20px; margin-bottom:0px;">SCOPE OF SERVICES:  </h2>

              <p> WEBTIOS and/or its service providers provide the domain name for publishing the contents provided by you in addition to its own contents as WEBTIOS and/or its service providers may choose to publish. After one year you may decide to purchase the domain name and hosting package from WEBTIOS and/or its service providers at the price decided by WEBTIOS. Till then WEBTIOS and/or its service providers shall own, maintain, and control any and all Internet Protocol (“IP”) numbers and addresses that may be assigned to you and that WEBTIOS and/or its service providers reserves the right to change or remove any and all IP numbers and addresses at its sole discretion.</p>
              <p> You shall be solely responsible for providing the “Upload Materials” on your website, and you hereby warrant that all Upload Materials shall be owned and/or properly licensed by you and shall not adversely impact the Services or violate any rights of any third party(ies). You shall be responsible for ensuring that all Upload Materials will function properly and as intended. You agree and understand that you shall be solely responsible for the Upload Materials whether publicly or privately and that WEBTIOS shall not be responsible for any content posted or transmitted through the use of this service. Any and all materials published on the concerned website shall be deemed to be provided by you and you should immediately inform us for any discrepancy.</p>
              <p> You acknowledge that the site may be hacked or defaced by hackers or third party. You agree and understand that the website may not be available sometimes due to the uncertainties of the server.</p>
              <p> During the period you avail of the services in terms of this Agreement, you hereby grant to WEBTIOS and/or its service providers a non-exclusive, royalty-free, worldwide right and license to digitally display and host your website and its content, and to use its trademarks, service marks, trade names, logos and other commercial or product/service designations in connection with the website and such Services.</p>
              <p> WEBTIOS and/or its service providers makes back-ups of websites regularly for the purpose of server restoration only. WEBTIOS and/or its service providers makes no guarantees of any kind, either express or implied, as to the integrity of these back-ups. You shall be responsible to maintain local copies of your website / data and provide the “Upload Materials” whenever these are required.</p>
              <p> WEBTIOS and/or its service providers reserves the right to monitor its systems electronically and to access and disclose any information registered/disclosed by you, as permitted or required by any law, regulation or other governmental request to operate its systems properly, to protect itself and or its account holder’s/registrants or for any other reason which WEBTIOS and/or its service providers in good faith deems necessary. WEBTIOS and/or its service providers will fully cooperate with law enforcement authorities and agencies in investigating the suspected lawbreakers and reserves the right to report to law enforcement authorities and agencies of any suspected illegal activity it becomes aware of.</p>
<h3 class="section-title" style="margin-top:20px; margin-bottom:0px;">CONTENT POSTED ON THE SITE OR USED IN THE EMAILS:  </h3>

              <p> WEBTIOS and/or its service providers reserves the right to refuse to publish any content, messages or material (collectively, “Content”) that in its sole judgment violates the Terms of Use or which might be offensive, illegal, or that might violate the rights, or cause harm or threaten the safety of other WEBTIOS and/or its service providers users/Registrants/Members, WEBTIOS and/or its service providers or any third party.</p>
                <p><h4><u>The following is a non-exhaustive list of Content that is illegal or prohibited </u>:-</h4></p>

              <p><i class="fas fa-caret-right" ></i>&nbsp&nbsp Involves the transmission of “junk mail”, “chain letters,” or unsolicited mass mailing or “spamming”;</p>
              <p><i class="fas fa-caret-right" ></i>&nbsp&nbsp Provides instructional information about illegal activities such as making or buying illegal weapons or arms and ammunition, violating someone’s privacy, or providing or creating computer viruses;</p>
              <p><i class="fas fa-caret-right" ></i>&nbsp&nbsp Promotes information that you know is false, misleading or promotes illegal activities or conduct that is abusive, threatening, obscene, defamatory or libelous;</p>
              <p><i class="fas fa-caret-right" ></i>&nbsp&nbsp Patently offensive to the online community, for instance Content that promotes racism, bigotry, hatred or physical harm of any kind against any group or individual;</p>
              <p><i class="fas fa-caret-right" ></i>&nbsp&nbsp Harasses or advocates harassment of another person;</p>
              <p><i class="fas fa-caret-right" ></i>&nbsp&nbsp Displays pornographic, sexually explicit, obscene, vulgar or provocative material of any kind;</p>
              <p><i class="fas fa-caret-right" ></i> &nbsp&nbspObscene/Pornographic/Vulgar/Provocative pictures or textual material transmitted in the E-mails;</p>
              <p><i class="fas fa-caret-right" ></i>&nbsp&nbsp False information displayed in order to defame or cause nuisance to WEBTIOS and its service providers or its users or non-users.</p>
              <p><i class="fas fa-caret-right" ></i>&nbsp&nbsp Any content, messages, photos or profiles that in the sole judgment of WEBTIOS and its service providers violates the Terms of Use or which may be offensive, illegal, or that might violate the rights, harm or threaten the safety of other WEBTIOS and its service providers Users/Registrants/Members or WEBTIOS and its service providers;</p>
              <p><i class="fas fa-caret-right" ></i>&nbsp&nbsp Promotes an illegal or unauthorized copy of another person’s copyrighted work, such as providing pirated computer programs or links to them, providing information to circumvent manufacture-installed copy-protect devices, or providing pirated music, contains restricted or password only access pages, or hidden pages or images (those not linked to or from another accessible page) ;</p>
              <p><i class="fas fa-caret-right" ></i>&nbsp&nbsp Solicits passwords or personal identification information for commercial or unlawful purposes from other users;</p>
              <p><i class="fas fa-caret-right" ></i>&nbsp&nbsp Engages in commercial activities and/or sales without our prior written consent such as contests, sweepstakes, barter, advertising, and pyramid schemes;</p>
              <p><i class="fas fa-caret-right" ></i>&nbsp&nbsp Any other content that is deemed to be illegal or of a prohibitory nature;</p>
              <p><i class="fas fa-caret-right" ></i>&nbsp&nbsp ou agree and conform that you shall use the Service in a manner consistent with any and all applicable local, state, Indian and International laws and such other applicable laws, rules and regulations.</p>
              <p><i class="fas fa-caret-right" ></i>&nbsp&nbsp WEBTIOS and/or its service providers reserves its right to modify any information provided by you as user/ registrant/member, for any reasons whatsoever, without any notice, advice or explanation to the user/registrant. The User/Registrant agrees and acknowledges this condition for use of the service of WEBTIOS and/or its service providers and shall not raise any objection or concern to WEBTIOS and/or its service providers in this regard.</p>


              <h3 class="section-title" style="margin-top:20px; margin-bottom:0px;">SERVICE DETAILS:   </h3>
              <p> The domain registration service is offered on “First Come First Serve” basis. Central Registrar has the sole authority over the Registration of domain name and WEBTIOS and its service providers has no control over the allocation and registration of domain name. Order approval and Payment for domain name does not imply the Registration of the domain name.</p>
              <p>In the event the domain name chosen by Subscriber cannot be registered in Subscriber’s name, the subscription amount paid by such Subscriber shall be refunded within reasonable time without any benefit</p>
              <p> WEBTIOS and its service providers cannot and will not be held liable for any direct, indirect or punitive loss, incidental, special or consequential damages that may arise out non-registration of domain name out of any and all use of WEBTIOS and its service providers.</p>
              <p> Regular monthly payments must be made to continue availing the services of WEBTIOS and its service providers.</p>
              <p> WEBTIOS and its service providers shall be free to charge renewal amount after 12 calendar months from the concerned customer. In case the client/customer choose not to renew the services, WEBTIOS shall or shall not renew the domain name and shall not be held liable in any way if the name is usurped by third party.</p>
              <p> If the client/customer desires WEBTIOS and its service providers shall transfer the domain name and hosting package in the name of the customer on receipt of transfer amount decided by WEBTIOS.</p>

<h3 class="section-title" style="margin-top:20px; margin-bottom:0px;">INDEMNIFICATION:   </h3>
              <p> You agree to defend, indemnify and hold harmless WEBTIOS and its service providers, its employees, directors, officers, agents and their successors and assigns from and against any and all claims, liabilities, damages, losses, costs and expenses, including attorney’s fees, caused by or arising out of claims based upon the use of your account and contravention of any terms and conditions herein for availing of this service, including any claim of libel, defamation, violation of rights of privacy or publicity, loss of service by other members and infringement of intellectual property or other rights. For the purpose of this clause reference to WEBTIOS and its service providers shall also include its service provider and the Central Registrar.</p>
<h3 class="section-title" style="margin-top:20px; margin-bottom:0px;">SERVER USE:    </h3>
              <p> Personal accounts are to be used by the primary/registered owner only. Personal account holders are not permitted to resale, store or give away web-hosting services of their website to third party(ies). Web hosting services are defined as allowing a separate, third party to host content on the owner’s web site. Exceptions to this include ad banners, classified ads, and personal ads. You must not divulge your username or password to any other person, and you should take reasonable precautions to ensure that other people do not discover it. WEBTIOS and its service providers reserves the right to refuse service and/or access to its servers to anyone.</p>


<h3 class="section-title" style="margin-top:20px; margin-bottom:0px;">PAYMENT POLICIES:    </h3>
              <p> All accounts are set up on a pre-pay basis. All pricing is guaranteed for the term of pre-payment. We reserve the right to change prices at any time or charge for the services, unless other terms have been agreed upon. The customer is responsible for all money owed on the account from the time it was established, to the time that the customer notifies us in writing for a request for termination of services</p>
              <p>WEBTIOS shall not be held responsible for loss during transit and will acknowledge the payment only after the instruments are encased by the bank.</p>
              <p> WEBTIOS can charge minimum INR 500 or 10% whichever is higher in case of check or instrument is returned by bank for reasons like insufficient funds or other reasons.</p>

<h3 class="section-title" style="margin-top:20px; margin-bottom:0px;">MONEY BACK GUARANTY: </h3>
              <p> We provide 30 days money back guaranty for Web Hosting packages, we refund you the whole billing amount by deducting processing fee of INR 250.</p>
              <p> Their is no refunds or money back for any product/ service where partial payments has been made for the invoice. Any ADVANCE amount is non-refundable for website packages/ domain registration.</p>

<h3 class="section-title" style="margin-top:20px; margin-bottom:0px;">CANCELLATION OF ACCOUNTS: </h3>
              <p> If your account is suspended or terminated for any reason under the terms of this Agreement, WEBTIOS and its service providers may, at its sole discretion, permanently delete your website contents from it’s/the service provider’s servers, and WEBTIOS and its service providers shall not be able to reopen or restore such content. If your account has been cancelled or suspended due to a violation of our Terms and Conditions, no refunds will be given. No refund / cancellation for domain names booked will be made. Further non-usage of the service does not entitle you for a refund of any portion of the payment made to us for this service.</p>

<h3 class="section-title" style="margin-top:20px; margin-bottom:0px;">TERM OF AGREEMENT/SERVICES:  </h3>
              <p> This Agreement shall continue to be in full force and effect for so long as you are registered against your payment and are using the Services. Either you or WEBTIOS and its service providers may terminate the service at any time, with or without cause. No refund shall be made on account of termination of services. The provisions of Sections 8 and 13 shall survive any such termination.</p>
              <p>WEBTIOS and its service providers reserves the right, in its sole discretion, to terminate your access to the services and the related services or any portion thereof at any time, without notice.</p>
              <p> WEBTIOS and its service providers may also terminate or suspend your access to the services for inactivity, which is defined as failing to log into a particular service for an extended period of time, as determined by WEBTIOS and its service providers.</p>
              <p>The amount of time that WEBTIOS and its service providers currently considers as an “extended” period of time is 120 (one hundred twenty) days. Upon termination of the service, your right to use the Services immediately ceases.</p>

<h3 class="section-title" style="margin-top:20px; margin-bottom:0px;">DISCLAIMER OF WARRANTIES: </h3>
              <p> WEBtios and its service providers is not responsible for any incorrect or inaccurate content posted on the site or in connection with the service, whether caused by users, members or by any of the equipment or programming associated with or utilized in the service, nor for the conduct of any user and/or member of the WEBtios and its service providers whether online or offline. Under no circumstances will WEBtios and its service providers be responsible for any loss or damage resulting from anyone’s use of the site or the service and/or any content posted on the WEBtios and its service providers site or transmitted to WEBtios and its service providers clients/customers.</p>
              <p> WEBtios and its service providers expressly disclaims any warranties whether express or implied about the suitability, reliability, availability, timeliness, quality, continuity, performance, lack of viruses or other harmful components and accuracy of the information, software, products, services and related graphics contained within the sites/services for any purpose. All such information, software, products, services and related graphics are provided “as is” without warranty of any kind. WEBtios and its service providers hereby disclaims all warranties and conditions with regard to this service, software, products, services and related graphics, including all implied warranties and conditions of merchantability, fitness for a particular purpose, workmanlike effort, title and non-infringement. You agree that any content or material transmitted and or downloaded through the use of this service will be at your sole risk and that WEBtios and its service providers shall not be responsible for any harm or damage resulting to your computer system or loss of data that results from such transmission or download. You specifically agree that WEBtios and its service providers shall not be responsible for unauthorized access to or alteration of your transmissions or data, any material or data sent or received or not sent or received, or any transactions entered into through an WEBtios and its service providers site/service. You specifically agree that WEBtios.com is not responsible or liable for any threatening, defamatory, obscene, offensive or illegal content or conduct of any other party or any infringement of </p>
              <p>another’s rights, including intellectual property rights. You specifically agree that WEBtios and its service providers is not responsible for any content sent using and/or included in an WEBtios and its service providers site/service by any third party. Advice received via the WEBtios and its service providers sites/services should not be relied upon for personal, medical, legal or financial decisions and you should consult an appropriate professional for specific advice tailored to your situation. You agree and understand that WEBtios and its service providers site may contain links to other websites that are operated by third parties (“linked sites”). When you click on a link to visit a linked site, a frame/browser may appear that contains the WEBtios and its service providers logo, advertisements and/or other content selected by WEBtios and its service providers. You agree and acknowledge that WEBtios and its service providers and its sponsors neither endorse nor are affiliated with the linked site and are not responsible for any content of any linked site or any link contained in a link site, or any changes or updates to such sites. You also acknowledge that WEBtios and its service providers is providing these links to you only as a convenience. WEBtios and its service providers does not endorse in anyway any advertisers/ contents of advertisers on its webpages. You should therefore verify the veracity / authenticity of all information on your own before undertaking, relying and acting thereupon. WEBtios and its service providers shall not be responsible, nor liable for any consequential damages
arising on account of your relying on the contents of the advertisement.
</p>

<h3 class="section-title" style="margin-top:20px; margin-bottom:0px;">WEBSITE PACKAGE: </h3>
              <p> Website package is product that includes important product & services required to run a website. We provide Domain Name, Web Hosting, Email Accounts, Maintenance & Support to our customers as a single package. Website package is a renewable service every year. If services expires and not renewed within allotted grace period of 7 days, your hosting account is terminated files deleted furthered domain & or hosting might be sold via auction without your content/applications to recover costs of server cost ,  It doesn’t include Website Design or development cost or set-up fee that is charged once along with website package, it is billed to you as per the requirement  Maintenance means to maintain your website running smoothly, taking backups, monitor smooth running of website and preventing it from hackers. Support means taking your request related to any error you report to be fixed on your website, it also includes very limited content update support. By default, with any website package we provide Basic Support which doesn’t guaranty any fixed/expected time for the request to be completed. If you require a quick support you may buy our PREMIUM SUPPORT SERVICE as Ad-on with your package.</p>
              <p> If Domain is not bought from us we are unable to provide certain services with package as bundle such as email service you should buy Email package additionally, and if domain control panel is not with us security monitoring depending on DNS/Domain panel might be also affected.</p>
<h3 class="section-title" style="margin-top:20px; margin-bottom:0px;">WEBSITE TRANSFER:</h3>
<p> This agreement will be governed by and construed in accordance with the laws of India without giving effect to principles of conflict of laws. If any provision of this Agreement is held to be invalid or unenforceable, such provision shall be struck and the remaining provisions shall be enforced. WEBTIOS and its service providers’ failure to act with respect to a breach by you or others does not waive its right to act with respect to subsequent or similar breaches. This Agreement sets forth the entire understanding and agreement between you and WEBTIOS and its service providers FURTHERMORE, WEBTIOS and its service providers retains the right to change any or all of the above Policies, Guidelines, and Disclaimer without notification.</p>


  <h3 class="section-title" style="margin-top:20px; margin-bottom:0px;">STARTUP TERMS AND SERVICES: </h3>

                <p>with our web startup program we will provide you all technical support such as:</p>
                <p><i class="fas fa-caret-right" ></i>&nbsp&nbsphelp you start and register your company</p>
                <p><i class="fas fa-caret-right" ></i>&nbsp&nbspyour dream project web-app for free under joint venture</p>
                <p><i class="fas fa-caret-right" ></i>&nbsp&nbspassist you and provide digital marketing ethics.</p>
                <p><i class="fas fa-caret-right" ></i>&nbsp&nbspaccounting servises at very low price</p>
                <p><i class="fas fa-caret-right" ></i>&nbsp&nbspco-working space</p>
                <p><i class="fas fa-caret-right" ></i>&nbsp&nbspHigh Speed Internet</p>
                <p><i class="fas fa-caret-right" ></i>&nbsp&nbspHelp with regulatory compliance</p>
                <p><i class="fas fa-caret-right" ></i>&nbsp&nbspIntellectual property management and legal counsel</p>
              <p>  our startup program conducted by conejo technologies private limited(first party).
                as per our startup program Conejo Technologies Private Limited reserve all rights to choose the project which comes under potential startup.
                Conejo Technologies Private Limited keeps 5% revenew of offsaid startup and not lible for any looses.
                Conejo Technologies Private Limited gives all tecnical support to a startup releted to website.
                we also provide charted account servises to our strtup program clients.
                conejo technologies private limited having right to ask the financial statement of client(secound party)
                conejo tecnologies having all rights of ownership of the codes of web-app or mobile app.
                secound party not able to do same business project with similar or different name without take permission from conejo technologies.
                in the case of any disregard the colliberation between both will break and as a panelty secound party have to pay 5 lakh rupees</p>

<h3 class="section-title" style="margin-top:20px; margin-bottom:0px;">SUPPORT LIMITATIONS:</h3>
              <p> Support for Domain / Web hosting along with website design, maintenance or content update is only offered via email you may not ask for phone support and we do not entertain it over phone. In case it’s very critical like website down/ hacked you may directly report it over phone too.</p>
              <p> Maintenance & Update related support for a website package is limited totally to availability of our support staff and work load  we may not guaranty the expected time and in some cases it may take months too. If you are having premium Support & Maintenance add-on we guarantee a response or follow up of 24hrs to 7 working days. You agree that in case of non satisfactory support you may not take any legal action or penalty against us. You have rights to withdraw your domain and you can host your websites with other service provider. In case of website withdraw by you we only provide your domain name but not website backup or source file of your existing website. You may either get your website re-developed/ designed after transfer or you may purchase the website dev. by us by paying the renewals of package for next year.</p>

<h3 class="section-title" style="margin-top:20px; margin-bottom:0px;">LIMITATION OF LIABILITY: </h3>
              <p> WEBtios and its service providers shall not be liable for any indirect, incidental, special or consequential damages or for interrupted communications, lost data or lost profits arising out of or in connection with this agreement or for any unauthorized access to or alteration of your transmissions or data, any material or data sent or received or not sent or not received, or any transactions entered into through an WEBtios and its service providers site/service, even if WEBtios and its service providers has been advised of the possibility of damages. You specifically agree that WEBtios and its service providers is not responsible nor liable for any threatening, defamatory, obscene, offensive or illegal content or conduct of any other party or any infringement of another’s rights, including intellectual property rights. You specifically agree that WEBtios and its service providers is not responsible for any content sent using and/or included in an WEBtios.com site/service by any third party. Some jurisdictions do not allow the limitation of liability so some of the above limitations may not apply to you.</p>

<h3 class="section-title" style="margin-top:20px; margin-bottom:0px;">PROPRIETARY RIGHTS TO CONTENT: </h3>
              <p> You acknowledge that content, including but not limited to text, software, music, sound, photographs, video, graphics or other material contained in either sponsor advertisements or E-mail distributed, or commercially produced information presented to you by WEBTIOS and its service providers or it’s suppliers, is protected by copyrights, trademarks, service marks, patents or other proprietary rights and laws. You agree and conform that you shall not post, distribute, or reproduce in any way any copyrighted material, trademarks, or other proprietary information without obtaining the prior written consent of the owner of such proprietary rights.</p>

<h3 class="section-title" style="margin-top:20px; margin-bottom:0px;">MISCELLANEOUS: </h3>
              <p> This agreement will be governed by and construed in accordance with the laws of India without giving effect to principles of conflict of laws. If any provision of this Agreement is held to be invalid or unenforceable, such provision shall be struck and the remaining provisions shall be enforced. WEBTIOS and its service providers’ failure to act with respect to a breach by you or others does not waive its right to act with respect to subsequent or similar breaches. This Agreement sets forth the entire understanding and agreement between you and WEBTIOS and its service providers FURTHERMORE, WEBTIOS and its service providers retains the right to change any or all of the above Policies, Guidelines, and Disclaimer without notification.</p>


              <h3 class="section-title" style="margin-top:20px; margin-bottom:0px;">GOVERNING LAW AND JURISDICTION:  </h3>
                            <p> This site is owned, operated and maintained by WEBTIOS and its service providers, PATNA, BIHAR, India. As such the site is governed and construed in accordance with the Laws of Union of India. You hereby irrevocably consent to the exclusive jurisdiction and venue of courts in PATNA, BIHAR, India, in all disputes arising out of or relating to the use of the WEBTIOS and its service providers sites/services. Use of the WEBTIOS and its service provider’s sites/services is unauthorized in any jurisdiction that does not give effect to all provisions of these terms and conditions, including without limitation this paragraph.</p>
            </ul>

          </div> <!-- .watch-video-left-col -->

          </div>
        </div>
      </div>
    </div> <!-- #watchVideo -->
 <% include partials/footer %>
 <% include partials/jivo %>
</div>
</body>
</html>
